<%= link_to("<< Back to Client Details", client_path(@client.id), :class => 'back-link') %>

<div class="Reservation Details">
  <h2>Show Reservation Details</h2>
  	<div class="table-responsive">
	  <table class = "table table-striped table-hover "summary="Reservation details view">
	    <tr>
	      <th>ID</th>
	      <td><%= @reservation.id %></td>
	    </tr>
	    <tr>
	      <th>Hotel</th>
	      <td><%= @hotel.name %></td>
	    </tr>
	    <tr>
	      <th>Room Type</th>
	      <td><%= @room.room_type %></td>
	    </tr>
	    <tr>
	      <th>Arrival Date</th>
	      <td><%= @reservation.arrival_date %></td>
	    </tr>
	    <tr>
	      <th>Departure Date</th>
	      <td><%= @reservation.departure_date %></td>
	    </tr>
	    <tr>
	      <th>Cost per day</th>
	      <td><%= @room.price %> €</td>
	    </tr>
	    <tr>
	      <th>Duration</th>
	      <td><%= @duration %> days</td>
	    </tr>
	   	<tr>
	      <th>Total Cost</th>
	      <td><%= @total_cost %> €</td>
	    </tr>
	    <tr>
	      <th>Payment Type</th>
	      <td><%= @reservation.payment_type %></td>
	    </tr>
	    <tr>
	      <th>Created</th>
	      <td><%= @reservation.created_at %></td>
	    </tr>
	    <tr>
	      <th>Updated</th>
	      <td><%= @reservation.updated_at %></td>
	    </tr>
	  </table>
	</div>