<div class="Rooms">
  <h2>Rooms</h2>
  <div class="table-responsive">
	  <table class="table table-striped table-hover" summary="Rooms list">
	    <tr>
	      <th>ID</th>
	      <th>Type</th>
	      <th>Price</th>
	      <th>Hotel</th>
	      <th>Actions</th>
	    </tr>
	    <% @rooms.each do |r| %>
		    <% hotel = Hotel.find(r.hotel_id)%>
		    <tr>
		      <td><%= r.id %></td>
		      <td><%= r.room_type %></td>
		      <td ><%= r.price %></td>
		      <td> <%= hotel.name %></td>
		      <td class="actions">
		        <%= link_to("Show More", hotel_room_path(hotel.id,r.id), :class => 'btn btn-default btn-sm') %>
		        <%= link_to("Edit", edit_hotel_room_path(hotel.id,r.id), :class => 'btn btn-default btn-sm') %>
		        <%= link_to("Delete", hotel_room_path(hotel.id,r.id), method: 'DELETE', data: { confirm: "Are you sure?" },  :class => 'btn btn-danger btn-sm') %>
		      </td>
		    </tr>
	    <% end %>
	  </table>
	</div>	
	<div class = "btn-group ">
		<%#= link_to"Add a new room", new_hotel_room_path(@hotel.id), :class => "btn btn-primary"%>
	</div>
</div>

<%="Average Price :#{@average_price}" %><br/>
